
<form [formGroup]="contactForm" (ngSubmit)="submitData(contactForm.value)">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter your fullname" formControlName="name" required />
        <label class="floating-label">Your Name</label>
    </div>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Enter your Emailid" formControlName="email" required />
        <label class="floating-label">Email</label>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Subject" formControlName="subject" required />
        <label class="floating-label">Subject</label>
    </div>
    <div class="form-group">
        <textarea class="form-control textarea" placeholder="Write a message" formControlName="message" ></textarea>
        <label class="floating-label">Message</label>
    </div>
    <button type="submit" class="btn btn-dark" [disabled]="contactForm.invalid || isAPILoading">{{ submitButtonLabel }}</button>
    <p *ngIf="isSuccess; else errorBlock" class="text-success">
        {{ submitMessage }}
    </p>
    <ng-template #errorBlock>
        <p class="text-error">{{ submitMessage }}</p>
    </ng-template>
</form>
